
<div class="contenedor">
<div class="container text-center">
  <div class="row">
    <div class="col-sm-3">
      <img src="../../../assets/Correctphoyo.jpeg" alt="Your Photo" />
      
    </div>
    <div class="col-sm-9">
      <section>
        <h2>About Me</h2>
        <p>
          Hello! I'm Benjamin Sarras, a passionate and dedicated Data Analyst with a background in Computer Science and Business administration. My journey in data analysis began with my degree in Computer programming and analysis from George Brown College. Born and raised in Santiago de Chile, I have always been fascinated by the power of data in shaping decisions and strategies to archieve the best result possible.
        </p>
      </section>

      <section>
        <h2>Professional Profile</h2>
        <p>
          I started my academic journey with a degree in Business Economics with a strong foundation in analytical thinking and business theory. This background gave me a unique perspective on the role of data in business decision-making and planning. Passionate about engineering and data, I plunged into computer science, where I am actively honing my skills in software engineering and data analysis

          My technical experience is varied, including aspects of product development, interface design, and debugging. I am particularly proficient in Python and SQL, languages ​​essential for data analysis and manipulation. My skills extend to powerful data visualization and analysis tools such as Tableau and Excel, allowing me to transform complex data sets into coherent and insightful visual presentations
          
          Through a mixture of programming languages ​​such as C#, Python, JavaScript, Excel, and SQl, I have developed a versatile skill set that allows me to solve data challenges from multiple perspectives. My combined background in business, finance and computer science gives me the ability not only to analyze data but also to better understand and communicate its meaning in a business environment.</p>
      </section>

      <section>
        <h2>Education</h2>
        <article>
          <h3>Computer programming and IT essential George Brown College</h3>
          <p>September 2020 - April 2023</p>
        </article>
        <article>
          <h3>Degree Business administration Duoc UC Chile Degree</h3>
          <p>September 2015 - April 2019</p>
        </article>
      </section>
        <section>
          <h3>Technical skills</h3>
          <ul>
            <li>C#</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>PHP</li>
            <li>Machine learning - pandas - matplotlib - Other Libraries</li>
            <li>Advance Excel</li>
            <li>Tableu</li>
            <li>Google Sheets</li>
            <li>SQL</li>
            <li>R</li>
            <li>Microsoft Power BI</li>
            <li>Agile</li>

          </ul>
        </section>
        <section>
          <h3>Soft skills</h3>
          <ul>
            <li>Analytical Thinking</li>
            <li>Communication Skills</li>
            <li>Collaboration and Teamwork</li>
            <li>Problem-Solving</li>
            <li>Leadership</li>
          </ul>
        </section>
        <section>
          <h2>Accomplishments</h2>
          <ul>
            <li>Co-funder of Evilvice-Esports</li>
            <li>Academic Honors at George Brown college</li>
            
          </ul>
        </section>
      
    </div>
  </div>
</div>