<div class="contenedor">
<div class="container text-center">

  <div class="row">
      <section class="project">
          <div class="col-md-6 project-image">
              <img src="../../../assets/EXCEL.PNG" alt="Project 1 Image" class="img-fluid" />
          </div>
          <div class="col-md-6 project-description">
              <h3>Project 1 Advance Excel tables</h3>
              <p>Proper use of advance excel skills to populate the costumer tab give form to the data an then showcase how different graphs can be used to display the information</p>
                <h6>#Excel.     #Pivot Tables.   #Vlookup.     #Graphs.    #Data Analysis.      #Formulas.</h6>
              <a href="https://github.com/Bensarras/Advance_Excel" class="project-link">View Project</a>
          </div>
      </section>
      <section class="project">
        <div class="col-md-6 project-image">
            <img src="../../../assets/Tableu.PNG" alt="Project 2 Image" class="img-fluid" />
        </div>
        <div class="col-md-6 project-description">
            <h3>Project 2 Tableu Project for the Wine dataset</h3>
            <p>Use of Tableu platform for data analysis and visualization for the Excel Wine data set, Set a Dashboard preparing dynamic tables that shares important information from the dataset.</p>
            <h6>#Tableu.     #Data Analysis.   #Data Visualization.     #Data Cleaning.    #Data Manipulation.</h6>
            <a href="https://public.tableau.com/views/WineTableuProject/Dashboard1?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link" class="project-link">View Project</a>
        </div>
    </section>
    <section class="project">
      <div class="col-md-6 project-image">
          <img src="../../../assets/PYTHON.PNG" alt="Project 3 Image" class="img-fluid" />
      </div>
      <div class="col-md-6 project-description">
          <h3>Project 3 Machine Learning Project Benjamin Sarras</h3>
          <p>Use of python skills and libraries to plot an image out of the dataset, train the data set and show the graphs and diferences.</p>
          <h6>#Python.     #Pandas.   #Matplotlib.     #Model Compile.    #Keras.</h6>
          <a href="https://colab.research.google.com/drive/1gssYhQ3xfWHr934XiZ7qDhUSN0XOgN8q?usp=sharing" class="project-link">View Project</a>
      </div>
  </section>
  <section class="project">
    <div class="col-md-6 project-image">
        <img src="../../../assets/SQL.PNG" alt="Project 4 Image" class="img-fluid" />
    </div>
    <div class="col-md-6 project-description">
        <h3>Project 4 SQL table creation, data manipulation and cleaning from the wine dataset</h3>
        <p>Use of SQL queries to create and manipulate the data of the Wine dataset, use it to see different information about the customers and products.</p>
        <h6>#SQL.     #Data Analysis.   #Queries.     #Data Cleaning.    #Data Manipulation.</h6>
        <a href="https://github.com/Bensarras/SQL-WINES" class="project-link">View Project</a>
    </div>
</section>
  </div>
 

</div>
</div>